.display-title {
  font-family: "Gilroy", "Poppins", "Montserrat"; }

.title-font {
  font-family: "Gilroy", "Poppins", "Montserrat"; }

.navbar-top-alpha .navbar-mainmenu .nav-item {
  font-family: "Gilroy", "Poppins", "Montserrat"; }
