
@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Light.otf") format("truetype");
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-ExtraBold.html") format("truetype");
    font-weight: 500;
    font-style: normal;

}